# Previewing Nobel Data

In [38]:
import pandas as pd
import numpy as np

In [39]:
file = "Nuclear_Data.csv"
nuclear = pd.read_csv(file)

In [41]:
nuclear.head()

,FID,Region,Country,Plant,NumReactor,Latitude,Longitude
0,0,Europe - Western,SWEDEN,AGESTA,1,59.206022,18.082872
1,1,Europe - Western,SPAIN,ALMARAZ,2,39.808100,-5.696940
2,2,America - Latin,BRAZIL,ANGRA,3,-23.007857,-44.458098
3,3,America - Northern,UNITED STATES OF AMERICA,ARKANSAS ONE,2,35.310320,-93.231289
4,4,Europe - Western,SPAIN,ASCO,2,41.200000,0.566670

In [48]:


countries = nuclear["Country"].unique
countries_count = nuclear["Country"].value_counts()
reactor_count = nuclear["NumReactor"].value_counts()

nunclear_sites = nuclear["NumReactor"].sum()

nunclear_sites

643